// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section.beer {
  width:100%;
  position:relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;

  .slogan {
    padding: 80px 70px 50px;
    color: white;
    p { font-size: 18px; }
  }
}

.content {
  .boxed {
    height: 400px;
    width: 90%;
    margin: 30px auto;
    cursor: pointer;
    overflow: hidden;
    &:hover {
      .button {
      visibility: visible;
      }
    }
    img { margin: 15px auto; }
    h1 {
      padding-top: 10%;
      font-size: 65px;
      text-align: center;
      color: whitesmoke;
      word-wrap: break-word;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.65);
    }
    .button { 
      visibility: hidden;
      margin: 0 auto;
      display: table;
    }
  }
  .back {
    overflow: auto;
    padding: 15px;
    color: white;
    h3 { margin-bottom: 7px; }
  }
  .beer-style:nth-child(1n) {
    .front, .back { background-color: #6F2AB2;}
  }
  .beer-style:nth-child(2n) {
    .front, .back { background-color: #FF862D; }
  }
  .beer-style:nth-child(3n) {
    .front, .back { background-color: #1DA597; }
  }
  .beer-style:nth-child(4n) {
    .front, .back { background-color: #FFF32D; }
  }
}