// Place all the styles related to the BeerTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#beer-types {
  .boxed-grey { 
    padding: 60px 0px; 
    margin: 15px 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(44, 46, 47, 0.6);
  }

  .beer:nth-child(1n) {
    .box { background-color: #922E2E; }
    .box:hover { background-color: #6B1212 }
  }
  .beer:nth-child(2n) {
    .box { background-color: #1B5757; }
    .box:hover { background-color: #0B4040 }
  }
  .beer:nth-child(3n) {
    .box { background-color: #69882B; }
    .box:hover { background-color: #0F560F }
  }
  .beer:nth-child(4n) {
    .box { background-color: #A76025; }
    .box:hover { background-color: #6B3B12 }
  }
  h1 { 
    color: white; 
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 40px;
    color: whitesmoke;
    word-wrap: break-word;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.65);
  }
  .beer-img {
    height: 14vh;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.65);
  }
}

.add-beer {
  background-color: black;
  height: 220px;
  color: white;
  padding: 120px 0px 0 30px;
  h3 { margin-bottom: 0px; }
}

.form-container {
  background: url(/assets/barrel.jpg) center no-repeat;
  background-size: cover;
  width: inherit;
  padding-bottom: 50px;
  .form { 
    padding: 60px;
    .actions input {
      background-color: black;
      border: none;
      color: white;
      width: 200px;
      height: 40px;
      margin-left: 22%;
      text-transform: uppercase;
      font-family: Montserrat,sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}

.new_beer_type {
  .form-field {
    display: flex;
    .label {
      color: white;
      border: white solid 1px;
      background-color: white;
      color: black;
      height: 40px;
      padding-top: 13px;
      width: 130px;
      display: inline-block;
      text-transform: uppercase;
      font-family: Montserrat,sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
      border-radius: 0px;
      vertical-align: baseline;
    }
    .input { 
      display: inline-block; 
      vertical-align: baseline;
      margin-bottom: 20px;
    }
    input, textarea, select {
      background-color: #ddd;
      border: white solid 1px;
      opacity: .6;
      width: 45vw;;
      height: 40px;
      color: black;
      font-weight: bold;
      padding-left: 10px;
      border-radius: 0px;
    }
    textarea, .label-text {
      height: 60px;
    }
    .label-text { padding-top: 23px; }
  }
}